<h1> YALMS: Yet Another Library Management System </h1>
<div class='container'>
    <%= link_to  "Go To Books", root_path %> <br>
    <%= link_to  "Add User", root_path %> <br>
    <%= link_to  "Add Author", root_path %> <br>
    <%= link_to  "Add Publisher", root_path %> <br>
</div>